.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected {
    background-color: black !important;
}

.customRadioGroup>div {
    border: 1px solid silver !important;
}

.customRadioGroup>div>div>div {
    color: black !important;
}

.customRadioGroup>div>div>div+div {
    color: black !important;
    background-color: white !important;
    border-color: silver !important;
    background: white !important;
}